include entries

article.projects
    p.projects__description Hello out there, I am Michael, an engineer who is passionate about optimizing and creating web applications. Currently, I am full time employed at Highsnobiety as lead software engineer.
    p.projects__description I enjoy trying various languages and tools in projects or layouting print and digital content, however my true love and passion lies in web development with JavaScript.
    h2.projects__heading projects
    p.projects__description Please be aware that some projects may still be under development, offline and/or deprecated by time.
    p.projects__description
        | If you like this site, feel free to&nbsp;
        a(href="https://github.com/dazlious/mduve.devdone", target="_blank") visit this project on Github.
    ul.entrylist
        each project in projects
            li.entrylist__entry
                time.entrylist__entry-date= project.date
                ul.entrylist__entry-labels
                    each label in project.labels
                        li.entrylist__entry-labels-item
                            p= label
                h3.entrylist__entry-heading= project.name
                if project.image
                    figure.entrylist__entry-image
                        img(src=project.image.url, alt=project.image.altText, loading="lazy")
                        if project.image.source
                            figcaption.entrylist__entry-image-caption= project.image.source
                each description in project.description
                    p.entrylist__entry-description= description
                if project.video
                    div.entrylist__entry-video(style="padding-bottom: " + project.video.height/project.video.width*100 + "%;")
                        lite-youtube(videoid=project.video.id)
                        //- iframe(src=project.video.url)
                if project.anchor
                    p
                        | &#8627; More information about&nbsp;
                        a.entrylist__entry-anchor(href=project.anchor.href, target="_blank") #{project.anchor.text}
                if project.technologies
                    ul.entrylist__entry-technologies
                        each technology in project.technologies
                            li.entrylist__entry-technologies-item= technology
