include entries

article.projects
    p.projects__description
    | Hello out there, I am Michael, a passionate software engineer who enjoys to create things from scratch. Currently, I am enrolled as student at the Beuth University Berlin in the Master Media Informatics
    | As part time worker I am currently employed at BILD Infographic &amp; Datavisualization as web frontend developer.
    p.projects__description I love trying different computer languages in various projects or layouting print and digital content, however my true love is located in web development, web design and computer graphics.
    h2.projects__heading projects
    p.projects__description Some projects are still under development, some are offline and some are deprecated by the time.
    ul.entrylist
        each project in projects
            li.entrylist__entry
                time.entrylist__entry-date= project.date
                h3.entrylist__entry-heading= project.name
                if project.image
                    figure.entrylist__entry-image
                        img(src=project.image.url, alt=project.image.altText)
                        if project.image.source
                            figcaption.entrylist__entry-image-caption= project.image.source
                each description in project.description
                    p.entrylist__entry-description= description
                if project.video
                    div.entrylist__entry-video(style="padding-bottom: " + project.video.height/project.video.width*100 + "%;")
                        iframe(src=project.video.url)
                if project.anchor
                    p
                    | &#8627; More information about&nbsp;
                    a.entrylist__entry-anchor(href=project.anchor.href, target="_blank") #{project.anchor.text}
