-
    projects = [
        {
            name: "Lorem ipsum 1",
            date: "12/2006",
            description: [
                "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
                "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet."
            ],
            image: {
                url: "http://dummyimage.com/768x250/333",
                altText: "Lorem"
            },
            anchor: {
                href: "http://google.de",
                text: "google"
            }
        },
        {
            name: "Lorem ipsum 2",
            date: "01/2012",
            description: [
                "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet."
            ],
            anchor: {
                href: "http://google.de",
                text: "google"
            }
        }
    ]
- var parts = 10
- var width = (1/parts) / 1.55

svg(height="0", width="0")
    defs
        clipPath#svgPath(clipPathUnits="objectBoundingBox")
            - for (var i = 0; i <= parts; i++) {
                polygon(points=(i/parts-(width/2))+" 0, "+(i/parts-(width))+" 1, "+(i/parts+(width/2))+" 1, "+(i/parts+(width))+" 0")
            - }

article.work
    h2 projects
    ul.entrylist
        each project in projects
            li.entrylist__entry
                time.entrylist__entry-date= project.date
                h3.entrylist__entry-heading= project.name
                if project.image
                    img.entrylist__entry-image(src=project.image.url, alt=project.image.altText)
                each description in project.description
                    p.entrylist__entry-description= description
                p
                | &#8627; More information about&nbsp;
                a.entrylist__entry-anchor(href=project.anchor.href) #{project.anchor.text}
